body{
  background: linear-gradient(to bottom, #100030 0%, #000000 100%);
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.3em;
  font-style: normal;
}
:root{
  --color-amarillo: #ff0f;
  --color-morado-oscuro:#102;
  --azul-oscuro: #002;
  --azul-claro: #08f;
  --purpura: #609;
  --gris: #666;
  --celeste: #2ff;
  --verde-claro: #5f2;
  --naranja:#f90;
  --verde-oscuro: #572;
}
h1,h2{
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: normal;
}
h3{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cont_app-padre{
  width: 45%;
  margin: auto;
}

.cont_header-padre{
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: end;
  margin: auto;
  margin-top: 10px;
  font-size: 1em;
  padding: 7px;
  
  border-radius: 20px;
  background: #ffffff33;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
header{
  position: sticky;
  top: 10px;
  z-index: 1000;
}
.cont_header-padre a{
  margin: 0px 10px;
  transition: .3s;
}
.cont_header-padre a:hover{
  color: var(--naranja);
}
.span_yellow{
  color: var(--color-amarillo);
}
.span_blue{
  color: var(--azul-claro);
}
.span_verde{
  color: var(--verde-claro);
}
.presentacion{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 0px;
  font-size: 1.2em;
  margin-top: 30px;
  
}
.cont_img a{
  background-color: var(--color-morado-oscuro);
  padding: 5px;
  font-size: .8em;
  margin-left:  15px;
  border-radius: 20px;
  border: 1px solid var(--azul-claro);
  transition: .3s;
}
.cont_img a:hover{
  color: #fff;
  padding: 7px;
}
.cont_img{
  display: flex;
  align-items: center;
}
.yo_img{
  width: 80px;
  border-radius: 50%;
  border: 1px solid var(--azul-claro);
}





/*cards-projects*/
.cont_proyectos-padre{
  margin-top: 80px ;
}
.cont_card-padre{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.cards{
  display: flex;
  color: #999;
  flex-direction: column;
  width: 300px;
  margin: 5px;
  height: 380px;
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--color-morado-oscuro);
}
.cards h3{
  color: var(--verde-claro);
}
.cards:hover .img-cards{
  width: 97%;
  height: 97%;
}
.cont_a_cards{
  padding: 15px 0px;
  font-size: 1.2em;
}
.sportmoon{
  display: flex;
  flex-direction: row-reverse;
  height: 270px;
  width: 611px;
}
.sportmoon .cont_img_projects{
  height: 100%;
  padding: 0;
  width: 700px;
}
.img-sportmoon {
  height: 90%;
  object-fit: cover;
  object-position: left ;
  transition: .4s;
  box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
}

.img-sportmoon:hover{
  height: 93%;
  width: 100%;
}
.a-cards{
  transition: .2s;
  color: #fff;
  margin-right: 10px;
  background: #1070ff30;
  padding: 5px 10px;
  font-size: .8em;
  border:1px solid var(--verde-oscuro);
  border-radius: 20px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.a-cards:hover{
  border: 1px solid #000;
  color: #fff;
}
.etiqueta-project{
  position: absolute;
  z-index: 70;
  margin: 3px 5px;
  background-color: #00000060 !important;
}
.etiquetas{
  padding: 3px 5px;
  color: #ddd;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 20px;
  background: #dddddd30;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.cont_info-cards{
  padding: 0px 10px;
}
.cont_img_projects{
  
  border: 1px solid var(--verde-oscuro);
  border-radius: 5px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  
  background: linear-gradient(to bottom right, #003366 0%, #339933 100%);

  padding: 10px;
}
.github{
  font-size: 1em;
  display: flex;
  align-items: center;
  transition: .3s;
}
.github:hover{
  transform: translateY(-2px);
}
.cont_github{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-cards{
  object-fit: cover;
  width: 93%;
  height: 93%;
  transition: .4s;
  border-radius: 5px;
  box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
}


/*Tecnologías*/
.cont_tecnologias-padre{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.icon-tecnologia{
  width: 45px;
  height: 45px;
}
.cont_types{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}
.h2-center{
  text-align: center;
}
.cont_child-grid{
  background-color: var(--color-morado-oscuro);
  margin: 10px;
  width: 280px;
  height: 250px;
  border-radius: 3px;
  box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
}
.grid-child{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
}
.h2-tecno2{
  color: var(--celeste);  
}
.h2-tecno1{
  color: var(--verde-claro);
}
.h2-tecno{
  color: #dddf;
}
.h2-tecno3{
  color: var(--naranja);
}
.cont_tecnoloias-padre{
  margin-top: 80px;
}

/*sobre mi*/
.cont_about-padre{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px ;
  
}
.cont_about-padre p{
  width: 45ch;
  font-size: 1em;
}
.retrato_img{
  background: linear-gradient(to bottom right, #003366 0%, #339933 100%);

  display: flex;
  background-color: var(--azul-oscuro);
  border-radius: 10px;
  padding: 7px;
  transform: rotate(10deg); 
}
.cont_about-padre h2{
  width: 100%;
}
.img-about{
  width: 160px;
  border-radius: 10px;
}

.cont_footer-padre{
  display: flex;
  margin-top: 40px;
  padding: 10px;
  justify-content: center;
  width: 100%;
}
.cont_footer-padre p,.cont_footer-padre a{
  font-size: 15px;
  margin: 0px 30px;
  color: #aaa;
}

.cur{
  display: flex;
  justify-content: center;
}
.icon{
  font-size: 1.2em;
  transform: translateY(3px);
}
