body{
  background-color: #000;
}
:root{
  --color-amarillo: #ff0f;
  --color-morado-oscuro:#102;
  --azul-oscuro: #002;
  --azul-claro: #08f;
  --purpura: #609;
  --gris: #666;
}
.cont_header-padre{
  
  background: #ffffff33;
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}
.cont_app-padre{
  width: 45%;
  margin: auto;
}
a:hover {
  color: var(--color-amarillo);
}
.cont_header-padre{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  padding: 7px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.cont_header-padre a{
  margin: 0px 10px;
}
.span_yellow{
  color: var(--color-amarillo);
}
.span_blue{
  color: var(--azul-claro);
}
.presentacion{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 0px;
  font-size: 1.2em;
  margin-top: 30px;
}
.cont_img a{
  background-color: var(--color-morado-oscuro);
  padding: 5px;
  font-size: .8em;
  margin-left:  15px;
  border-radius: 20px;
  border: 1px solid var(--azul-claro);
  transition: .3s;
}
.cont_img a:hover{
  color: #fff;
  padding: 7px;
}
.cont_img{
  display: flex;
  align-items: center;
}
.yo_img{
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--azul-claro);
}





/*cards-projects*/
.cont_proyectos-padre{
  margin-top: 80px ;
}
.cont_card-padre{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.cards{
  display: flex;
  color: #999;
  flex-direction: column;
  width: 300px;
  margin: 5px;
  height: 380px;
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--color-morado-oscuro);
}
.cards h3{
  color: var(--color-amarillo);
}
.cards:hover .img-cards{
  width: 95%;
  height: 95%;
}
.cont_a_cards{
  padding: 15px 0px;
  font-size: 1.2em;
}
.a-cards{
  transition: .2s;
  color: #fff;
  margin-right: 10px;
  background: #1070ff30;
  padding: 5px;
  border:1px solid #555;
  border-radius: 5px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.a-cards:hover{
  border: 1px solid #000;
  color: #fff;
}
.etiqueta-project{
  position: absolute;
  z-index: 70;
  margin: 3px 5px;
  background-color: #00000060 !important;
}
.etiquetas{
  padding: 3px 5px;
  color: #ddd;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 20px;
  background: #dddddd30;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.cont_info-cards{
  padding: 0px 10px;
}
.cont_img_projects{
  border-radius: 5px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #66a;
  padding: 10px;
}
.img-cards{
  transition: .4s;
  width:90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 7px 11px 1px rgba(0,0,0,0.75);
}


/*Tecnologías*/
.cont_tecnologias-padre{
    display: grid;
    background-color: #111;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.icon-tecnologia{
  width: 40px;
  height: 40px;
}
.cont_types{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
}
.h2-center{
  text-align: center;
}
.cont_child-grid{
  background-color: var(--azul-oscuro);
  margin: 10px;
  width: 280px;
  height: 250px;
  border: 1px solid #222;
  border-radius: 3px;
  box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 10px 13px 0px rgba(0,0,0,0.75);
}
.grid-child{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
}
.cont_tecnoloias-padre{
  margin-top: 80px;
}






